<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
        <add key="pathToBasket" value="..\\..\\InputData\\Basket1.txt"/>
        <add key="pathToPriceCatalog" value="..\\..\\InputData\\RegularPriceCatalog.json"/>
        <add key="pathToPromotion" value="..\\..\\InputData\\Promotions.json"/>      
    </appSettings>
</configuration>